<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>도토리 캐쉬 관리자 페이지</title>
	<meta name="title" content="도토리 캐쉬, 관리자 페이지"/>
	<meta name="author" content=""/>
	<meta name="keywords" content=""/>
	<link href="/images/favicon.ico" rel="shortcut icon" >
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/slick.css" rel="stylesheet" type="text/css" />
	<link href="/css/font.css" rel="stylesheet" type="text/css" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/css/jquery.multiselect.css" rel="stylesheet" type="text/css" />

	<script src="/js/layout/jquery.min.js"></script>
	<script src="/js/layout/vendor.min.js"></script>
	<script src="/js/layout/slimscroll.min.js"></script>
	<script src="/js/layout/jquery.multiselect.js"></script>


	<script src="/js/common/cmmUtils.js"></script>
	<script src="/js/common/cmmAlert.js"></script>
	<script src="/js/common/cmmPopup.js"></script>

	<script src="/js/componenet/apiComponent.js"></script>
	<script src="/js/componenet/pagingComponent.js"></script>
	<script src="/js/mission/missionList.js"></script>
	<script src="/js/common/header.js"></script>
</head>

<body>
<div class="header">
	<div class="navbar navbar-custom">
		<div class="logo">
			<a type="button" onclick="pageMove('/main')" ><h1 class="skip">도토리 캐쉬</h1></a>
		</div>
		<nav>
			<div class="gnb">
				<h2 class="skip">메인메뉴</h2>
				<ul>
					<!--					<li><a type="button"  onclick="targetMove('client')" ><span>홈페이지</span></a></li>-->
					<li class="active"><a type="button"  onclick="pageMove('/member/memberList')" ><span>관리자페이지</span></a></li>
					<!--					<li><a type="button"  onclick="targetMove('intra')"><span>인트라넷</span></a></li>-->
				</ul>
			</div>
		</nav>
		<div class="utility">
			<span class="username"></span>
			<!--			<button type="button" onclick="pageMove('/settings/managerDtl');" class="btn btn-outline-secondary btn-rounded">회원정보수정</button>-->
			<a href="/logout" class="btn btn-outline-secondary btn-rounded">로그아웃</a>
		</div>
	</div>

	<div class="left-side-menu">
		<h2 class="skip">좌측메뉴</h2>
		<div class="sidebar-content">
			<div class="sidebar-menu slimscroll-menu">
				<ul class="metismenu" id="menu-bar">
					<li class="upperMenu">
						<a href="javascript: void(0);" aria-expanded="true"><span>회원관리</span></a>
						<ul aria-expanded="false">
							<li id="memberList" class="menu memberList doctorDtl hospDtl hosRegister"><a href="/users/user">회원관리</a></li>
							<li id="visitorList" class="menu visitorList"><a href="/users/visitor">적립내역</a></li>
						</ul>
					</li>
					<!--<li class="upperMenu">-->
					<!--	<a href="javascript: void(0);" aria-expanded="true"><span></span></a>-->
					<!--	<ul aria-expanded="false">-->
					<!--		<li  id="publicList" class="menu publicList"><a href="#" onclick="pageMove('/announcement/publicList')">Public 공고 목록</a></li>-->
					<!--		<li  id="piList" class="menu piList piListWrite piListUpdate"><a href="#" onclick="pageMove('/announcement/piList')">탭 1</a></li>-->
					<!--		<li  id="docPiList" class="menu docPiList docPiListWrite"><a href="#" onclick="pageMove('/announcement/docPiList')">탭 2</a></li>-->
					<!--	</ul>-->
					<!--</li>-->
					<li class="upperMenu">
						<a href="javascript: void(0);" aria-expanded="true"><span>미션 관리</span></a>
						<ul aria-expanded="false">
							<li  id="svcApplyList" class="menu svcApplyList"><a  href="/mission/answer">정답미션</a></li>
							<!--							<li  id="svcDocApplyList" class="menu svcDocApplyList"><a  href="/mission/doit">수행미션</a></li>-->
							<li  id="inquiry" class="menu inquiry"><a href="/mission/photo">캡쳐미션</a></li>
							<li  id="docInquiry" class="menu docInquiry"><a href="/mission/content">수행 캡쳐미션 관리</a></li>
						</ul>
					</li>
					<li class="upperMenu">
						<a href="javascript: void(0);" aria-expanded="true"><span>환경설정</span></a>
						<ul aria-expanded="false">
							<li id="noticeList" class="menu noticeList noticeDtl"><a href="/config/notice">공지사항 관리</a></li>
							<li id="questionList" class="menu questionList questionDtl"><a href="/config/withdraw">출금 요청</a></li>
							<li id="managerList" class="menu managerList managerDtl"><a href="/config/company">등록업체 관리</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<article>
	<div class="content-page">
		<section>
			<div class="page-tit">
				<h3>정답미션</h3>
			</div>
			<div class="contents">
				<div class="search-condition">
					<h4 class="skip">검색조건</h4>
					<div class="wrap">
                        <form>
                            <div class="div">
                                <div class="form-group">
                                    <div class="tit">구분</div>
                                    <div class="flex">
                                        <select name="searchType" class="form-control w-md">
                                            <option th:each="type: ${searchTypes}" th:value="${type.key}" th:text="${type.value}" th:selected="${type.key == searchType}">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="tit">검색어</div>
                                    <div class="flex autosize">
                                        <input name="searchContent" type="text" class="form-control w-lg" th:value="${searchContent}">
                                        <button type="submit" class="btn btn-primary">검색</button>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="page" value="0">
                        </form>
					</div>
				</div>

				<div class="utility">
					<div class="left"><div class="txt count"></div></div>
					<div class="right">
						<button id="registBtn" type="button" class="btn btn-info" onclick="createMission('A');">신규</button>
						<button type="button" class="btn btn-primary" onclick="updateMissions();">저장</button>
						<button type="button" class="btn btn-dark" onclick="deleteMissions();">삭제</button>
					</div>
				</div>
				<div class="tab-content">
					<div class="tab-pane active" id="tab1">
						<div class="col-table">
							<table class="table">
								<caption></caption>
								<colgroup>
									<col style="width: 60px;">
									<col style="width: 60px;">
									<col style="width: 100px;">
									<col style="width: 60px;">
									<col style="width: 60px;">
									<col style="width: 130px;">
									<col style="width: 130px;">
									<col style="width: 80px;">
									<col style="width: 100px;">
									<col style="width: 80px;">
									<col style="width: 80px;">
									<col style="width: 80px;">
									<col style="width: 300px;">
									<col style="width: 80px;">
									<col>
								</colgroup>
								<thead>
								<tr>
									<th><input type="checkbox" id="MC_01_selectAll" onclick="javascript:$('.MC_01_chk').prop('checked',this.checked);"></th>
									<th>번호</th>
									<th>제목</th>
									<th>설명글</th>
									<th>정답</th>
									<th>키워드</th>
									<th>가격</th>
									<th>업체명</th>
									<th>제공포인트</th>
									<th>갯수제한</th>
									<th>시작시간</th>
									<th>종료시간</th>
									<th>sns종류</th>
									<th>수행횟수</th>
								</tr>
								</thead>
								<tbody id="MC_01_tbody">
								<tr th:each="mission : ${page.content}">
									<td><input type="checkbox" class="MC_01_chk"></td>
									<td class="missionSeq" th:text="${mission.seq}"></td>
									<td><input type="text" class="title" th:value="${mission.title}"/></td>
									<td><input type="text" class="description" th:value="${mission.description}"/></td>
									<td><input type="text" class="answer" th:value="${mission.answer}"/></td>
									<td><input type="text" class="keyword" th:value="${mission.keyword}"/></td>
									<td><input type="text" class="price" th:value="${mission.price}"/></td>
									<!--<td><input type="text" class="mall" th:value="${mission.mall}"/></td>-->
									<td>
										<div>
											<input type="text" list="list" class="mall" id="numbers" th:value="${mission.mall}"/>

											<datalist id="list" class="mall form-control w-md" style="display: none;">
												<option th:each="mall : ${companys}" th:value="${mall.mall}" th:text="${mall.name}"
														th:selected="${mission.mall != null and mission.mall == mall.mall}"></option>
											</datalist>
										</div>
									</td>
									<td><input type="text" class="dotoli" th:value="${mission.dotoli}"/></td>
									<td><input type="text" class="limitCount" th:value="${mission.limitCnt}"/></td>
									<td><input type="datetime" class="startAt" th:value="${mission.startAt}"/></td>
									<td><input type="datetime" class="endAt" th:value="${mission.endAt}"/></td>
									<td>
										<label><input th:name="snsType + ${mission.seq}" class="snsType" type="radio" value="0001" th:checked="${mission.snsType == '0001'}"/>네이버</label>
										<label><input th:name="snsType + ${mission.seq}" class="snsType" type="radio" value="0002" th:checked="${mission.snsType == '0002'}">인스타</label>
										<label><input th:name="snsType + ${mission.seq}" class="snsType" type="radio" value="0003" th:checked="${mission.snsType == '0003'}">카카오</label>
										<label><input th:name="snsType + ${mission.seq}" class="snsType" type="radio" value="0004" th:checked="${mission.snsType == '0004'}">무신사</label>
									</td>
									<td class="attendCount" th:text="${mission.attendCnt}"></td>
								</tr>
								</tbody>
							</table>

                            <!-- 페이지 영역 -->
                            <nav th:if="${page.totalPage != 0}">
                                <div class="container">
                                    <ul class="pagination pagination-primary m-4">

                                        <li class="page-item ">
                                            <!-- 첫 페이지로 이동 -->
                                            <a class="page-link" th:href="@{/mission/answer(searchType = ${searchType}, searchContent = ${searchContent}, page=0)}" aria-level="First">
                                                &lsaquo;&lsaquo;
                                            </a>
                                        </li>

                                        <li class="page-item active">
                                            <!-- 이전 페이지 -->
                                            <li th:if="${page.hasPrev} ? 'disabled'">
                                            <a class="page-link" th:href="@{/mission/answer(searchType = ${searchType}, searchContent = ${searchContent}, page=${page.prevIndex})}" aria-level="Previous">&lsaquo;</a>
                                            <span aria-hidden="true"></span>
                                            <li>
                                        </li>

                                        <!-- 페이지 번호 -->
                                        <li th:each="page: ${#numbers.sequence(page.startPage, page.endPage)}"
                                            th:class="(page == ${pageNo}) ? 'page-item active'">
                                            <a class="page-link" th:text="${page + 1}"
                                            th:href="@{/mission/answer(searchType = ${searchType}, searchContent = ${searchContent}, page=${page})}"></a>
                                        </li>

                                        <li class="page-item">
                                            <!-- 다음 페이지 -->
                                            <li th:if="${page.hasNext} ? 'disabled'">
                                            <a class="page-link" th:href="@{/mission/answer(searchType = ${searchType}, searchContent = ${searchContent}, page=${page.nextIndex})}" aria-level="Next">&rsaquo;</a>
                                            <span aria-hidden="true"></span>
                                            </li>
                                        </li>

                                        <li class="page-item">
                                            <!-- 마지막 페이지 -->
                                            <a class="page-link" th:href="@{/mission/answer(searchType = ${searchType}, searchContent = ${searchContent}, page=${page.totalPage - 1})}" aria-level="Last">
                                                &rsaquo;&rsaquo;
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </nav>
                            <!-- 페이징 영역 끝 -->
						</div>
					</div>
				</div>
				<div class="pagination">
					<ul class="pc-num">
					</ul>
				</div>
			</div>
		</section>
	</div>
</article>

</body>
</html>